{% extends 'base.html.twig' %}

{% block title %}Liste des editeur{% endblock %}

{% block body %}
<section class="container px-4">
    <h1>Liste des editeur</h1>
    <ul class="list-group list-group-flush">
        {% for editor in editors %}
            <div class="card mb-3">
                <div class="card-body">
                    <div class="card-title d-flex justify-content-between">
                    </a>
                        <a href="{{ path('app_admin_editor_show', {id: editor.id}) }}" class="stretched-link link-dark">
                            <h5 class="mb-1">{{ editor.name }}</h5>
                        </a>
                        <small class="text-muted">Identifiant: {{ editor.id }}</small>
                    </div>
                </div>
            </div>
        {% else %}
            <li class="list-group-item list-group-item-warning">Aucun auteur trouvé</li>
        {% endfor %}
    </ul>
    <div class="d-flex justify-content-center">{{pagerfanta(editors)}}</div>
</section>
{% endblock %}
