{% extends 'base.html.twig' %}

{% block title %}Liste des livres{% endblock %}

{% block body %}
<section class="container px-4">
    <h1>Liste des livres</h1>
    <ul class="list-group list-group-flush">
        {% for book in books %}
            <div class="card mb-3">
                <div class="card-body">
                    <div class="card-title d-flex justify-content-between">
                        <a href="{{ path('app_admin_book_show', {id: book.id}) }}" class="stretched-link link-dark">
                            <h5 class="mb-1">{{ book.title }}</h5>
                        </a>
                        <small class="text-muted">Identifiant: {{ book.id }}</small>
                    </div>
                    <p class="card-text">{{ book.status }}</p>
                </div>
            </div>
        {% else %}
            <li class="list-group-item list-group-item-warning">Aucun livre trouvé</li>
        {% endfor %}
    </ul>
</section>
{% endblock %}
